---
export interface Props {
  answer?: string;
}

const { answer = 'yes' } = Astro.props as Props;

---
{answer === 'old_yes' && (<span style="font-family: Wingdings;">&#254;</span>)}
{answer === 'old_no' && (<span style="font-family: Wingdings;">&#253;</span>)}
{answer === 'old_maybe' && (<span style="font-family: Wingdings;">&#168;</span>)}

{answer === 'yes' && (<span>&#10004;</span>)}
{answer === 'no' && (<span>&#10060;</span>)}
{answer === 'maybe' && (<span class='text-green-600'>&#10067;</span>)}

